footer{
    display: flex;
}
body{
    background-image: url(Images/foggy-forest-aesthetic-5z1p1xgxp601txwt.jpg);

}
.flex-footer {
    display: flex;
}

.pflex {
    display: flex;
}
section {
    background-color: rgba(0, 128, 0, 0.425);
}