* {
  box-sizing: border-box;
}

body {
  font-family: 'Cascadia Code', 'Consolas', 'Inconsolata', Arial, Helvetica, sans-serif;
  background: url(https://images.unsplash.com/photo-1511884642898-4c92249e20b6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) center center fixed;
  background-size: cover;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #333;
  padding: 10px;
  text-align: left;
  font-size: 28px;
  color: white;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.HeaderImg {
  max-height: 30px;
  max-width: 40px;
}

.container {
  display: flex;
  flex: 1;
}

.column.side,
.column.middle {
  padding: 10px;
  flex: 1;
  margin: 3px;
  display: flex;
  flex-direction: column;
}

.column.side {
  background-color: rgba(89, 94, 89, 0.534); /* Just for visualization */
}

.column.middle {
  background-color: rgba(89, 94, 89, 0.534); /* Just for visualization */
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
  border-top: 1px solid white;
}