flex-container {
    gap: 50px;
    margin: 30px;
    flex-direction: row;
    display: flex;
}

.Images.item {
    display: flex;
    size: 250px 425px;
}

title {
    align-items: center;
}